<h2>{{ 'Infinite scroll' | transloco }}</h2>

<div class="container">
  <div class="row">
    <select2
      class="col-6"
      [overlay]="overlay"
      [styleMode]="styleMode"
      [data]="data26"
      [value]="value26"
      (update)="update('value26', $event)"
      infiniteScroll
      infiniteScrollDistance="1.5"
      infiniteScrollThrottle="150"
      (scroll)="scroll26($event)"
      id="select2-26"
    ></select2>

    <div class="col-12 value">
      <div>
        <span>{{ 'value:' | transloco }}</span
        ><code>{{ value26 | json }}</code>
      </div>
    </div>
  </div>
</div>
