#select2-17 ::ng-deep .select2-multiple-labels {
    display: flex;
    justify-content: space-between;
}

.flower-list ::ng-deep .flower {
    &.white::before {
        content: '🌼 ';
    }

    &.red::before {
        content: '🌹 ';
    }

    &.yellow::before {
        content: '🌻 ';
    }
}
