<h2>{{ 'Selection override' | transloco }}</h2>

<div class="container">
  <div class="row">
    <h3 class="col-12" id="ex-34b">{{ 'Simple & resettable' | transloco }}</h3>
    <ng-select2
      class="col-6"
      selectionOverride="Test (%size%)"
      resettable
      [overlay]="overlay"
      [styleMode]="styleMode"
      [data]="data36"
      [value]="value36"
      id="select2-36"
      (update)="update('value36', $event)"
    />
    <div class="col-12 value">
      <span>{{ 'value:' | transloco }}</span
      ><code>{{ value36 | json }}</code>
    </div>

    <h3 class="col-12" id="ex-36m">{{ 'With multiple & resettable' | transloco }}</h3>

    <ng-select2
      class="col-6"
      selectionOverride="Test (%size%)"
      resettable
      [overlay]="overlay"
      [styleMode]="styleMode"
      [data]="data36m"
      [value]="value36m"
      id="select2-36-m"
      (update)="update('value36m', $event)"
      multiple
    />
    <div class="col-12 value">
      <span>{{ 'value:' | transloco }}</span
      ><code>{{ value36m | json }}</code>
    </div>
  </div>
</div>
