{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSpacing": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-css-order"],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": ["^@angular/", "^[@]", "^(?!src|[.])", "^[^.]", "^[.]/", "^[..]/", ".*"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
