label {
    display: inline-block;
    width: 250px;
}

.cols {
    display: flex;
    max-width: 100%;

    & > * {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

.code {
    overflow: auto;
}

.error {
    color: red;
}

textarea#json {
    box-sizing: border-box;
    width: calc(100% - 15px);
    height: 200px;
    resize: vertical;
}

.hide {
    display: none;
}

.result {
    position: sticky;
    top: 90px;
}
