

label {
    display: inline-block;
    width: 250px;
}

.cols {
    display: flex;
    max-width: 100%;

    & > * {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

.code {
    overflow: auto;
}
