<h2>Examples</h2>

<label for="disabled">overlay : </label>
<input id="disabled" type="checkbox" [(ngModel)]="overlay" />

<div class="block">
    <h3 id="ex-1">1. options in group ({{ value1 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data1"
        [value]="value1"
        (update)="update('value1', $event)"
        (change)="change('change1', $event)"
        (blur)="blur('blur1', $event)"
        (focus)="focus('focus1', $event)"
        (open)="open('open1', $event)"
        (close)="close('close1', $event)"
        (search)="search('search1', $event)"
        resettable
        customSearchEnabled
        id="selec2-1"
    >
    </select2>
    <h3 id="ex-2">2. options ({{ value2 }})</h3>
    <select2 [overlay]="overlay" [data]="data2" [value]="value2" (update)="update('value2', $event)" id="selec2-2">
    </select2>
    <h3 id="ex-3">3. less options ({{ value3 }})</h3>
    <select2 [overlay]="overlay" [data]="data3" [value]="value3" (update)="update('value3', $event)" id="selec2-3">
    </select2>
    <h3 id="ex-4">4. disabled ({{ value4 }})</h3>
    <select2 [overlay]="overlay" [data]="data4" [value]="value4" [disabled]="true" id="selec2-4"> </select2>
    <h3 id="ex-5">5. hide search box ({{ value5 }})</h3>
    <form [formGroup]="ctrlForm2">
        <select2
            [overlay]="overlay"
            [data]="data5"
            formControlName="test5"
            [minCountForSearch]="minCountForSearch"
            (update)="update('value5', $event)"
            id="selec2-5"
        >
        </select2>
    </form>
    <h3 id="ex-6">
        6. search limit to <input #limit size="3" value="7" /> / display status
        <select #status>
            <option selected>default</option>
            <option>hidden</option>
            <option>always</option>
        </select>
        ({{ value6 }})
    </h3>
    <div>
        <button type="button" (click)="addItem()">Add item</button>
        <button type="button" (click)="removeItem()">Remove item</button>
    </div>
    <select2
        [overlay]="overlay"
        [data]="data6"
        [value]="value6"
        [minCountForSearch]="limit.value"
        [displaySearchStatus]="status.value"
        (update)="update('value6', $event)"
        id="selec2-6"
    >
    </select2>
    <h3 id="ex-7">7. placeholder ({{ value7 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data7"
        placeholder="select an item"
        (update)="update('value7', $event)"
        resettable
        id="selec2-7"
    >
    </select2>
    <h3 id="ex-8">8. open, close and search event ({{ value8 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data8"
        customSearchEnabled
        listPosition="auto"
        (open)="open8()"
        (close)="close8()"
        (search)="search8($event)"
        (update)="update('value8', $event)"
        id="selec2-8"
    >
        <select2-hint>value : {{ value8 }}</select2-hint>
    </select2>
    <h3 id="ex-9">9. multiple + limite <input type="number" [(ngModel)]="limitSelection" /> ({{ value9 | json }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data9"
        [value]="value9"
        multiple="true"
        [limitSelection]="limitSelection"
        (update)="update('value9', $event)"
        (blur)="blur('blur9', $event)"
        (focus)="focus('focus9', $event)"
        (open)="open('open9', $event)"
        (close)="close('close9', $event)"
        (search)="search('search9', $event)"
        customSearchEnabled
        id="selec2-9"
    >
    </select2>
    <h3 id="ex-10">10. multiple + hide selected items ({{ value10 | json }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data10"
        [value]="value10"
        multiple="true"
        (update)="update('value10', $event)"
        hideSelectedItems="true"
        id="selec2-10"
    >
    </select2>
    <h3 id="ex-11">11. material style and form binding ({{ value11 }})</h3>
    <form [formGroup]="ctrlForm">
        <select2
            [overlay]="overlay"
            [(ngModel)]="value11"
            [data]="data11"
            formControlName="test11"
            placeholder="Select a state"
            styleMode="material"
            id="selec2-11"
        ></select2>
        <button (click)="reset11()">reset</button>
        <button (click)="change11()">Utah</button>
    </form>

    <h3 id="ex-12">12. material style ({{ value12 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data12"
        [value]="value12"
        (update)="update('value12', $event)"
        styleMode="material"
        id="selec2-12"
    >
    </select2>
    <h3 id="ex-13">13. boolean value ({{ value13 }})</h3>
    <select2 [overlay]="overlay" [data]="data13" [value]="value13" (update)="update('value13', $event)" id="selec2-13">
    </select2>
    <h3 id="ex-14">14. FormControl ({{ fg.get('state').value }})</h3>
    <form [formGroup]="fg">
        <select2
            [overlay]="overlay"
            [data]="data9"
            multiple="true"
            id="selec2-10"
            formControlName="state"
            (update)="update('value14', $event)"
        >
        </select2>
        <button (click)="print()">Log Selected</button>
        <button (click)="resetForm()">Reset Form</button>
    </form>
    <h3 id="ex-15">15. with label ({{ value15 }})</h3>
    <select2 [overlay]="overlay" [data]="data15" [value]="value15" (update)="update('value15', $event)" id="selec2-15">
        <select2-label>Select a state</select2-label>
    </select2>
    <h3 id="ex-16">16. required with label ({{ value16 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data16"
        [value]="value16"
        (update)="update('value16', $event)"
        required
        id="selec2-16"
    >
        <select2-label>Select a state</select2-label>
    </select2>
    <h3 id="ex-17">17. with two option labels ({{ value17 }})</h3>
    <select2 [overlay]="overlay" [data]="data17" [value]="value17" (update)="update('value17', $event)" id="select2-17">
    </select2>
    <h3 id="ex-18">18. search starts with 3 chars</h3>
    <select2
        [overlay]="overlay"
        [data]="data18"
        [value]="value18"
        (update)="update('value18', $event)"
        minCharForSearch="3"
        id="selec2-18"
    >
    </select2>
    <h3 id="ex-19">19. dropdown list position above ({{ value19 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data19"
        [value]="value19"
        (update)="update('value19', $event)"
        listPosition="above"
        id="selec2-19"
    >
    </select2>
    <div class="noStyle">
        <h3 id="ex-20">20. nostyle ({{ value20 }})</h3>

        <select #select20>
            <option selected>noStyle</option>
            <option>borderless</option></select
        ><br />

        <select2
            [overlay]="overlay"
            [data]="data20"
            [value]="value20"
            (update)="update('value20', $event)"
            listPosition="above"
            [styleMode]="select20?.value || 'noStyle'"
            id="selec2-20"
        >
        </select2>
    </div>
    <h3 id="ex-21">21. update to empty/null/undefined ({{ value21 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data21"
        [value]="value21"
        (update)="update('value21', $event)"
        listPosition="above"
        id="selec2-21"
    >
    </select2>
    <button (click)="value21 = ''">Update value to empty string</button>
    <button (click)="value21 = null">Update value to null</button>
    <button (click)="value21 = undefined">Update value to undefined</button>
    <h3 id="ex-22">22. with item classes and id ({{ value22 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data22"
        [value]="value22"
        (update)="update('value22', $event)"
        listPosition="auto"
        id="selec2-22"
        class="flower-list"
    >
    </select2>

    <h3 id="ex-23">23. with template ({{ value23 }})</h3>

    <select2
        [overlay]="overlay"
        [data]="data23"
        [value]="value23"
        (update)="update('value23', $event)"
        listPosition="above"
        [templates]="template"
        [templateSelect]="templateSelect"
        id="selec2-23"
        class="flower-list"
    >
        <ng-template #template let-data="data"
            ><strong>{{ data?.color }}</strong
            >: {{ data?.name }}</ng-template
        >
        <ng-template #templateSelect let-data="data"
        ><strong>{{ data?.color }}</strong
        > ({{ data?.name }})</ng-template
    >
    </select2>

    <h3 id="ex-24">24. with template (option / group) ({{ value24 }})</h3>

    <select2
        [overlay]="overlay"
        [data]="data24"
        [value]="value24"
        (update)="update('value24', $event)"
        listPosition="above"
        [templates]="{ option: templateOption, group: templateGroup }"
        id="selec2-24"
        class="flower-list"
    >
        <ng-template #templateOption let-data="data"
            ><strong>{{ data?.color }}</strong
            >: {{ data?.name }}</ng-template
        >
        <ng-template #templateGroup let-label="label"
            ><strong>({{ label }})</strong></ng-template
        >
    </select2>

    <h3 id="ex-25">25. with templates Ids ({{ value25 }})</h3>

    <select2
        [overlay]="overlay"
        [data]="data25"
        [value]="value25"
        (update)="update('value25', $event)"
        listPosition="above"
        [templates]="{ template1: template1, template2: template2, template3: template3 }"
        id="selec2-25"
        class="flower-list"
    >
        <ng-template #template1 let-data="data"
            ><span [style.background]="data?.color">{{ data?.name }}</span></ng-template
        >
        <ng-template #template2 let-data="data"
            ><strong>{{ data?.color }}</strong
            >: {{ data?.name }}</ng-template
        >
        <ng-template #template3 let-data="data">{{ data | json }}</ng-template>
    </select2>
    <h3 id="ex-26">26. infiniteScroll({{ value26 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data26"
        [value]="value26"
        (update)="update('value26', $event)"
        listPosition="above"
        infiniteScroll
        infiniteScrollDistance="1.5"
        infiniteScrollThrottle="150"
        (scroll)="scroll26($event)"
        id="selec2-26"
    ></select2>
    <h3 id="ex-27">27. position ({{ value2 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data2"
        [value]="value2"
        listPosition="auto"
        (update)="update('value2', $event)"
        id="selec2-27"
    ></select2>
    <h3 id="ex-28">28. max results 50 ({{ value28 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data28"
        [value]="value28"
        listPosition="auto"
        id="selec2-28"
        (update)="update('value28', $event)"
        maxResults="50"
        maxResultsMessage="Too much results in this list."
    ></select2>

    <h3 id="ex-29">29. option autocreate ({{ value29 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data29"
        [value]="value29"
        multiple
        autoCreate
        id="selec2-29"
        (update)="update('value29', $event)"
    >
    </select2>

    <h3 id="ex-29b">29b. option autocreate search search ({{ value29b }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data29b"
        [value]="value29b"
        multiple
        autoCreate
        id="selec2-29b"
        (update)="update('value29b', $event)"
    >
    </select2>

    <h3 id="ex-30">30. selected option when × is clicked ({{ value30 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data30"
        [value]="value30"
        resettable
        resetSelectedValue="CA"
        id="selec2-30"
        (update)="update('value30', $event)"
    >
    </select2>

    <h3 id="ex-31">31. change list ({{ value31 }})</h3>
    <select #select31 (change)="changeData31(select31.value)">
        <option>english</option>
        <option>french</option>
        <option>japanese</option></select
    ><br />

    Value :
    <select2 [overlay]="overlay" [data]="data31" [value]="value31" id="selec2-31" (update)="update('value31', $event)">
    </select2>
    <br />

    NgModel :
    <select2
        [overlay]="overlay"
        [data]="data31"
        [(ngModel)]="value31b"
        id="selec2-31b"
        (update)="update('value31b', $event)"
    ></select2>

    <h3 id="ex-32">32. auto create when ({{ value32 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data32"
        [value]="value32"
        resettable
        autoCreate
        resetSelectedValue="CA"
        id="selec2-32"
        (autoCreateItem)="update('value32', $event)"
        (update)="update('value32', $event)"
    ></select2>

    <h3 id="ex-33">33. reset form multiple({{ ctrlForm3.get('test33')?.value }})</h3>
    <form [formGroup]="ctrlForm3">
        <select2
            [data]="data32"
            placeholder="Select Name"
            formControlName="test33"
            multiple="true"
            hideSelectedItems="true"
            (update)="update('value33', $event)"
            id="selec2-33"
        ></select2>

        <button (click)="reset()">Reset</button>
    </form>

    <h3 id="ex-34">34. grid ({{ value34 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data34"
        [value]="value34"
        id="selec2-34"
        grid="4"
        (autoCreateItem)="update('value34', $event)"
        (update)="update('value34', $event)"
    ></select2>

    <h3 id="ex-34b">34b. grid sub-group ({{ value34b }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data34b"
        [value]="value34b"
        grid="4"
        id="selec2-34b"
        (autoCreateItem)="update('value34b', $event)"
        (update)="update('value34b', $event)"
    ></select2>

    <h3 id="ex-35">35. grid-auto ({{ value35 }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data35"
        [value]="value35"
        id="selec2-35"
        grid="35px"
        (autoCreateItem)="update('value35', $event)"
        (update)="update('value35', $event)"
    ></select2>

    <h3 id="ex-35b">35b. grid-auto sub-group + multiple ({{ value35b }})</h3>
    <select2
        [overlay]="overlay"
        [data]="data35b"
        [value]="value35b"
        multiple
        id="selec2-35b"
        grid="35px"
        (autoCreateItem)="update('value35b', $event)"
        (update)="update('value35b', $event)"
    ></select2>
</div>
