<h1>
  <code><pre>&#60;select2&#62;&#60;/select2&#62;</pre></code>
</h1>
<p class="badges">
  <a href="https://badge.fury.io/js/ng-select2-component" target="_blank"
    ><img src="https://badge.fury.io/js/ng-select2-component.svg" alt="npm version"
  /></a>
  <a href="https://www.npmjs.com/package/ng-select2-component" target="_blank"
    ><img src="https://img.shields.io/npm/dm/ng-select2-component.svg" alt="Downloads"
  /></a>
  <a href="https://raw.githubusercontent.com/Harvest-Dev/ng-select2/master/LICENSE.md" target="_blank"
    ><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="GitHub license"
  /></a>
</p>
<p>
  {{ 'Extended version of the basic HTML select.' | transloco }}
</p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <select2 [data]="data"></select2>
    </div>
  </div>

  <div>
    <h3>
      {{ 'Installation' | transloco }}
    </h3>
    <div>
      <code>npm install ng-select2-component</code>
    </div>

    <h3>
      {{ 'Basic usage' | transloco }}
    </h3>
    <h3>HTML</h3>
    <div>
      <code><pre [highlight]="html" language="html"></pre></code>
    </div>
    <h3>Typescript</h3>
    <div>
      <code><pre [highlight]="ts" language="ts"></pre></code>
    </div>
  </div>
</div>
