<div style="width: 500px;">
  <a href="https://github.com/Zefling/ng-select2/tree/master/src"
     target="_blank">the source code of the demo</a>
  <h3>1. options in group ({{value1}})</h3>
  <select2 [data]="data1"
           [value]="value1"
           (update)="update1($event)"
           id="selec2-1">
  </select2>
  <h3>2. options ({{value2}})</h3>
  <select2 [data]="data2"
           [value]="value2"
           (update)="update2($event)"
           id="selec2-2">
  </select2>
  <h3>3. less options ({{value3}})</h3>
  <select2 [data]="data3"
           [value]="value3"
           (update)="update3($event)"
           id="selec2-3">
  </select2>
  <h3>4. disabled ({{value4}})</h3>
  <select2 [data]="data4"
           [value]="value4"
           [disabled]="true"
           id="selec2-4">

  </select2>
  <h3>5. hide search box ({{value5}})</h3>
  <select2 [data]="data5"
           [value]="value5"
           [minCountForSearch]="minCountForSearch"
           (update)="update5($event)"
           id="selec2-5">
  </select2>
  <h3>6. placeholder ({{value6}})</h3>
  <select2 [data]="data6"
           placeholder="select an item"
           (update)="update6($event)"
           id="selec2-6">
  </select2>
  <h3>7. open and search event ({{value7}})</h3>
  <select2 [data]="data7"
           customSearchEnabled="true"
           (open)="open7()"
           (search)="search7($event)"
           (update)="update7($event)">
  </select2>
  <h3>9. multiple ({{value9}})</h3>
  <select2 [data]="data9"
           [value]="value9"
           multiple="true"
           (update)="update9($event)"
           id="selec2-9">
  </select2>
  <h3>10. form binding ({{value10}})</h3>
  <form [formGroup]="ctrlForm">
    <select2 [(ngModel)]="value10"
             [data]="data10"
             formControlName="test10"
             placeholder="Select a state"
             material
             id="selec2-10"></select2>
    <button (click)="reset10()">reset</button>
    <button (click)="change10()">Utah</button>
  </form>
  <h3>11. material style ({{value11}})</h3>
  <select2 [data]="data11"
           [value]="value11"
           (update)="update11($event)"
           material
           id="selec2-11">
  </select2>
  <h3>12. boolean value ({{value12}})</h3>
  <select2 [data]="data12"
           [value]="value12"
           (update)="update12($event)"
           id="selec2-12">
  </select2>
  <h3>13. FormControl</h3>
  <form [formGroup]="fg">
    <select2 [data]="data9"
             multiple="true"
             id="selec2-10"
             formControlName="state">
    </select2>
    <button (click)="print()">Log Selected</button>
    <button (click)="resetForm()">Reset Form</button>
  </form>
  <h3>14. with label ({{value14}})</h3>
  <select2 [data]="data14"
           [value]="value14"
           (update)="update14($event)"
           id="selec2-14">
    <select2-label>Select a state</select2-label>
  </select2>
  <h3>15. with two option labels ({{value15}})</h3>
  <select2 [data]="data15"
           [value]="value15"
           (update)="update15($event)"
           id="select2-15">
  </select2>
</div>